#!/bin/bash

export GITHUB_REPO="%GITHUB_REPO%"
export GITHUB_TOKEN="%GITHUB_TOKEN%"
export DOMAIN_NAME="%DOMAIN_NAME%"
export RESEND_API_KEY="%RESEND_API_KEY%"
export USERNAME="%USERNAME%"
export PASSWORD="%PASSWORD%"